// ===================================================
//   Fonts
// ===================================================
$primary-font: 'Gill Sans', 'sans-serif';

// ===================================================
//  Colors
// ===================================================
// Base colors
$white: #fff;
$black: #000;
$background-primary: #282828;

// Nav colors
$nav-primary: #1E1E1E;
$nav-secondary: #dddddd;

//DS Kitchens
$ds-kitchens-primary: #212a4e;
$ds-kitchens-secondary: #e0c174;
$ds-kitchens-dark: #161e3a;

// Bacardi
$bacardi-dark: #060606;
$bacardi-primary: #0f0f0f;

//Innovate Consolodate
$innovate-blue: #2871ab;
$innovate-yellow: #e1d523;

//Visual Systems
$visual-red: #b13237;


//Makcity
$makcity: #1f2020;

//Mellow Records
$mellow-pink: #e76680;
$mellow-light: #ecdfcc;
